<div class="form-group position-relative my-4">
    <input type="{{type}}" class="anim {{className}}" name="{{name}}" value="{{value}}" required />

    <span class="highlight"></span>
    <span class="bar"></span>
    <label class="label">{{ label }} <sup class="text-danger">*</sup></label>
</div>