<div class="container-fluid form-body">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-7 m-auto form-wrapper">
                <h1 class="activities-title text-center mb-5">
                    Update
                </h1>

                <form class="activites update-form">
                    <div class="form-group position-relative my-4">
                        <input type="text" class="input" required="required" name="fullname"
                            value="{{fullname}}" /><span class="highlight"></span><span class="bar"></span>
                        <label>Full name</label>
                    </div>

                    <div class="form-group position-relative my-4">
                        <input type="text" class="input" required="required" name="guardian"
                            value="{{guardian}}" /><span class="highlight"></span><span class="bar"></span>
                        <label>Guardian name</label>
                    </div>

                    <div class="form-group position-relative my-4">
                        <input type="text" class="input" required="required" name="dob" value="{{dob}}"
                            onfocus="(this.type='date')" onfocusout="(this.type='text')" /><span
                            class="highlight"></span><span class="bar"></span>
                        <label>Date of birth</label>
                    </div>

                    <div class="col-md-6">
                        <div class="row ">
                            <group class="inline-radio">
                                <div>
                                    <input type="radio" name="gender" value="female" checked /><label>Female</label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" value="male" /><label>Male</label>
                                </div>
                                <div>
                                    <input type="radio" name="gender" value="others" /><label>Others</label>
                                </div>
                            </group>
                        </div>
                    </div>
                    <div class="form-group position-relative my-4">
                        <input type="text" class="input" name="location" value="{{location}}"
                            required="required" /><span class="highlight"></span><span class="bar"></span>
                        <label>Location</label>
                    </div>

                    <div class="form-group position-relative my-4">
                        <input type="text" class="input" required="required" name="study" value="{{study}}" /><span
                            class="highlight"></span><span class="bar"></span>
                        <label>Study status</label>
                    </div>

                    <div class="btn-box">
                        <button type="submit" class="btn btn-submit student-up" data-id="{{id}}">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>