<form class="update-form">
    <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" class="form-control" id="fullname" value="{{fullname}}"
            placeholder="Full Name">
    </div>
    <div class="form-group">
        <label for="guardian">Guardian Name</label>
        <input type="text" name="guardian" class="form-control" id="guardian" value="{{guardian}}"
            placeholder="Guardian name">
    </div>
    <div class="form-group">
        <label for="dob">Dob</label>
        <input type="date" name="dob" class="form-control" id="dob" value="{{dob}}">
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked>
            <label class="form-check-label" for="female">
                Female
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male">
            <label class="form-check-label" for="male">
                Male
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="others" value="others">
            <label class="form-check-label" for="others">
                Others
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="location" class="form-control" id="location" value="{{location}}"
            placeholder="Location">
    </div>

    <div class="form-group">
        <label for="study">Study Status</label>
        <input type="text" name="study" class="form-control" id="study" value="{{study}}" placeholder="Study Status">
    </div>

    <button type="submit" class="btn btn-success student-up" data-id="{{id}}">Update</button>
</form>